@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  overflow: hidden;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: rgba(124, 41, 41, 0.75);

  // @-webkit-keyframes bounce {
  //   0% {
  //     color: #000;
  //   }
  //   100% {
  //     color: #fff;
  //   }
  // }

  // Launching soon text animation styles

  @keyframes bounce {
    0% {
      color: coral;
    }
    100% {
      color: #fff;
    }
  }

  // Hinge animation container div styles

  .initial-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    background: cornflowerblue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  // Image and text container styles

  .container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

    img {
      position: fixed;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
      max-width: 100%;
      height: auto;
      -webkit-filter: blur(7px); /* Safari 6.0 - 9.0 */
      filter: blur(7px);
    }

    .text {
      background: rgba(81, 93, 226, 0.75);
      letter-spacing: -2px;
      color: cornflowerblue;
      font-size: 7.5vw;
      padding: 1rem;

      @for $i from 1 through 16 {
        $time: $i;
        span.for-#{$i} {
          -webkit-animation-name: bounce;
          animation-name: bounce;
          -webkit-animation-duration: 1.09s;
          animation-duration: 1.09s;
          -webkit-animation-delay: $time * 0.15s;
          animation-delay: $time * 0.15s;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
        }
      }
    }
  }
  #main-footer {
    position: absolute;
    color: #fff;
    z-index: 3;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    right: 0;
    left: 0;
    margin-bottom: 1rem;
    a {
      color: cornflowerblue;
    }
  }
}

@media screen and (min-width: 760px) {
  // css for anything equal or above 1171px screensize
  .container {
    .text {
      font-size: 5vw !important;
    }
  }
}
